# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# IDE specific
.vscode/
.idea/
schema.sql
.env
myenv
venv
note.txt
deploy-backend.sh
test.py